@import "./reset.css";

:root {
    --text: #000;
    --card-bg: #fff;
    --text-light: rgba(182, 103, 99, 0.8);
    /* Olympic guideline says : Ring radius = 12 x stroke width - source : https://stillmed.olympics.com/media/Documents/International-Olympic-Committee/Olympic-brand/Olympic-Brand-Guidelines.pdf */
    --stroke: 1.4rem;
    --ring1: #0078d0;
    --ring2: #ffb114;
    --ring3: #000000;
    --ring4: #00a651;
    --ring5: #f0282d;
}

html, body {
    font-family: "Monrope", sans-serif;
    min-height: 100vh;
    font-weight: 500;
    color: var(--text);
}

body {
    overflow: hidden;
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
    place-items: center;    
    background-color: #000;
    background: 
            linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
            url(/olympic-background.jpg) center center / cover no-repeat,
            linear-gradient(135deg, #9bc8c5, #f6ead2, #a2deaa);
}

.card {
  gap: 1rem;
  padding: 1rem;
  background: #fff;
  width: calc(100vw - 5rem);
  max-width: 1440px;
  height: calc(100vh - 2rem);
  max-height: 770px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* https://shadows.brumm.af/ */
  box-shadow:
    0px 0px 1.3px rgba(0, 0, 0, 0.024),
    0px 0px 3.6px rgba(0, 0, 0, 0.035),
    0px 0px 8.7px rgba(0, 0, 0, 0.046),
    0px 0px 29px rgba(0, 0, 0, 0.07);
    animation: cardIn 0.8s both cubic-bezier(0.56, 1.57, 0.56, 1);
}

h1 {
    font-size: 2rem;
}

aside {
    color: var(--text-light);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

a {
  text-decoration: underline;
  transition: 0.3s;
}

a:hover {
  color: #000;
}

.methodology {
  font-size: 0.8em;
}

.continents {
    display: grid;
    grid-template-columns: repeat(3, calc(12 * var(--stroke)));
    gap: var(--stroke);
    justify-content: center;
    align-items: flex-start;
}

.continent {
    --header-offset: calc(1.5rem + 52px);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: calc(12 * var(--stroke));
    grid-row: 1/span 1;
    grid-column: calc(round(down, var(--index) / 2) + 1)/span 1;
}

/* Offset the second and 4th ring to the bottom */
.continent:nth-child(2),
.continent:nth-child(4) {
    margin-top: calc(5.5 * var(--stroke) + var(--header-offset));
    margin-left: calc(6.5 * var(--stroke));
    flex-direction: column-reverse;
}

.continent header {
  height: 52px;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.continent h2 {
  color: var(--color);
  font-weight: 400;
  font-size: 1.4rem;
}

.continent strong {
  font-weight: 600;
}

.continent__medals {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: var(--text);
}

.continent__medal {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.7rem;
  font-weight: 600;
}

.gold {
  --medal-start: #fdf5c3;
  --medal-end: #fbe334;
  --medal-shadow: #dac215;
}

.silver {
  --medal-start: #f3f0f0;
  --medal-end: #d2cdca;
  --medal-shadow: #a4a09d;
}

.bronze {
  --medal-start: #fce7bd;
  --medal-end: #fa9e1b;
  --medal-shadow: #d6830d;
}

.continent li::before {
  width: 10px;
  height: 10px;
  content: "";
  display: block;
  border-radius: 100%;
  background: linear-gradient(to bottom, var(--medal-start), var(--medal-end));
  box-shadow: inset 0 -1px 2px var(--medal-shadow);
}

.ring {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 100%;
    position: relative;
}

.ring::before,
.ring::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  color: var(--color);
  border: calc(2px + var(--stroke) * var(--ratio) * 1.5) solid var(--color);
}

.ring::after {
    border-color: transparent;
}

/* Chain overlap */
.continent:nth-child(1) .ring::after {
  border-right-color: var(--color);
  z-index: 6;
}

.continent:nth-child(2) .ring::after {
  border-top-color: var(--color);
  z-index: 5;
}

.continent:nth-child(3) .ring::before {
  border-top-color: var(--color);
  z-index: 4;
}

.continent:nth-child(4) .ring::before {
  z-index: 2;
}

.continent:nth-child(4) .ring::after {
  border-left-color: var(--color);
  z-index: 5;
}

.continent:nth-child(5) .ring::after {
  border-bottom-color: var(--color);
  z-index: 6;
}

@keyframes cardIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
}

.card > * {
  animation: cardContentIn 1s both cubic-bezier(0.49, 1.67, 0.26, 0.92);
  animation-delay: calc(0.4s + 0.2s * var(--index, 0));
}

.ring::before,
.ring::after {
  animation:
    ringStroke 0.7s calc(0.8s + 0.2s * var(--index))
      cubic-bezier(0.49, 1.67, 0.26, 0.92) both,
    ringIn 0.7s calc(0.7s + 0.2s * var(--index))
      cubic-bezier(0.49, 1.67, 0.26, 0.92) both;
}

@keyframes ringStroke {
  0% {
    border-width: var(--stroke);
  }
}

@keyframes ringIn {
  0% {
    transform: scale(0) translateY(40px);
  }
}

@keyframes cardContentIn {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
}